<div class='row row-runs'>
  <h2 class= "heading">My runs</h2>
  <hr />
  <div class="summary">
    You are logged
    <p class = 'totals'>{{ totalDistance }}</p>
    total number of runs
    <p class="totals">{{ totalActivities }}</p>

  </div>
  <hr />
  <table class = "table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Date</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities">

        <td> 
          <a [routerLink] = "['/run', activity.id]">
          {{ activity.name }}
        </a>
        </td>
        <td>{{activity.comment}}</td>
        <td>{{activity.date | date:"yyyy-MM-dd"}}</td>
        <td>{{activity.distance}}</td>
      </tr>
    </tbody>
  </table>

</div>