/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Jaldi', sans-serif;
    background-image: url("./assets/img/run.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.layer{
    background: rgb(100,185,196);
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app-row{
    background-color: #fff;
}

